<a href="https://colab.research.google.com/github/madhav0247/Python-Experiments/blob/main/65_Madhav_Python_Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Assignment No: 06

Name: Madhav Prakash Pachakale.

Class: SE3/S3/65

In [2]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Madhav', 'Ritesh', 'Vedant', 'Sneharsh', 'Yash'],
    'Age': [45, 38, 50, 42, 47],
    'Salary': [90000, 85000, 92000, 88000, 91000],
    'Department': ['Admin', 'Logistics', 'Security', 'Operations', 'Research']
}

df = pd.DataFrame(data)
print('Madhav Prakash Pachakale - SE3/S3/65\n')
print("First two rows of the DataFrame:")
print(df.head(2))
print("\nLast two rows of the DataFrame:")
print(df.tail(2))

salary_column = df['Salary']
salary_mean = salary_column.mean()
salary_std = salary_column.std()

print("\nSalary column:")
print(salary_column)
print(f"\nMean of Salary: {salary_mean}")
print(f"Standard Deviation of Salary: {salary_std:.2f}")

filtered_df = df[(df['Age'] > 30) & (df['Department'] == 'IT')]
print("\nEmployees older than 30 in IT department:")
print(filtered_df)

df['Bonus'] = df['Salary'] * 0.1
print("\nDataFrame with Bonus column added:")
print(df)

Madhav Prakash Pachakale - SE3/S3/65

First two rows of the DataFrame:
     Name  Age  Salary Department
0  Madhav   45   90000      Admin
1  Ritesh   38   85000  Logistics

Last two rows of the DataFrame:
       Name  Age  Salary  Department
3  Sneharsh   42   88000  Operations
4      Yash   47   91000    Research

Salary column:
0    90000
1    85000
2    92000
3    88000
4    91000
Name: Salary, dtype: int64

Mean of Salary: 89200.0
Standard Deviation of Salary: 2774.89

Employees older than 30 in IT department:
Empty DataFrame
Columns: [Name, Age, Salary, Department]
Index: []

DataFrame with Bonus column added:
       Name  Age  Salary  Department   Bonus
0    Madhav   45   90000       Admin  9000.0
1    Ritesh   38   85000   Logistics  8500.0
2    Vedant   50   92000    Security  9200.0
3  Sneharsh   42   88000  Operations  8800.0
4      Yash   47   91000    Research  9100.0